VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=


// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyBpbON6z91QrD8zIS3pyNnQR3hcMWPf7Rc",
  authDomain: "yana-grum.firebaseapp.com",
  projectId: "yana-grum",
  storageBucket: "yana-grum.firebasestorage.app",
  messagingSenderId: "607069438869",
  appId: "1:607069438869:web:d8a1acc982a594af4b6c9c"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
